@media screen and (max-width: 768px) {
    .col-100-play .row {
        flex-wrap: wrap;
    }

    .col-16 {
        width: calc(100% / 2);
    }

    .col-100-menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .col-100-menu li {
        margin: .5rem;
    }

    .col-100-menu {
        font-size: 1rem;
    }

    .name-song {
        font-size: .7rem;
    }

    .heart-folder {
        flex-direction: column;
        justify-content: space-around;
        margin-left: 1rem;
    }

    .comand-icon {
        font-size: 1rem;
    }

    .fa-circle-play {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .bg-side-bar {
        display: none;
    }

    .sm-side-bar {
        display: block;
        height: 100%;
    }

    .side-bar {
        width: 50px;
    }

    .side-bar img {
        width: 2rem;
        margin: .5rem;
        cursor: pointer;
    }

    .container-vw,
    main,
    header {
        width: calc(100vw - 50px);
    }

    .img-round {
        margin: .3rem;
    }

    .col-100-menu ul {
        margin: 0 7rem;
    }

    .name-song {
        display: none;
    }
}