/* .col-100-play .row {
    flex-wrap: wrap;
} */

@media screen and (max-width: 576px) {
    .bg-side-bar {
        display: none;
    }

    .sm-side-bar {
        display: block;
        height: 100%;
    }

    .side-bar {
        width: 50px;
    }

    .side-bar img {
        width: 2rem;
        margin: .5rem;
        cursor: pointer;
    }

    .container-vw,
    main,
    header {
        width: calc(100vw - 50px);
    }

    .img-round {
        margin: .3rem;
    }
}